* {
  box-sizing: border-box;
  font-family: "Muli";
  margin: 0;
  padding: 0;
}

body {
  margin: 0 15px;
}

input {
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  color: #a3a3a3;
  font-size: 1em;
  font-weight: normal;
  min-height: 40px;
  padding: 0 20px;
  font-family: "Muli";
}

input:focus {
  border: 2px solid #04a;
  color: #123;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #a3a3a3;
}

input:focus::-webkit-input-placeholder {
  color: #123;
}

*::-webkit-scrollbar {
  display: none;
}

.separation {
  height: 2px;
  background-color: #f2f2f2;
}

/*
//////////////////////////////////////////////////////////
Header
//////////////////////////////////////////////////////////
*/

.header {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  margin: 15px auto;
  max-width: 960px;
}

.header-add {
  font-size: 2em;
  font-weight: bolder;
}

.header-name {
  display: flex;
  flex-flow: row nowrap;
}

.header-name-body {
  margin-right: 20px;
  max-width: 180px;
}

.header-name-icon {
  background-color: #39ecbc;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

/*
//////////////////////////////////////////////////////////
CONVERSATION
//////////////////////////////////////////////////////////
*/

.conversation {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  margin: 15px auto;
  max-width: 960px;
  /*max-height: 500px;*/
  order: 1;
}

/*
//////////////////////////////////////////////////////////
CONVERSATION INFOS
//////////////////////////////////////////////////////////
*/

.conversation-infos {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
}

.conversation-icon {
  background-color: #fc0;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.conversation-infos-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 20px;
}

.conversation-name {
  color: #123;
  font-size: 1.25em;
  font-weight: bold;
}

.conversation-status {
  color: #a3a3a3;
  font-size: 0.75em;
  font-weight: normal;
}

/*
//////////////////////////////////////////////////////////
CONVERSATION CHAT
//////////////////////////////////////////////////////////
*/

.conversation-open {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.conversation-messages {
  max-height: 230px;
  overflow: scroll;
}

.conversation-message {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
}

.conversation-message.right {
  flex-flow: row-reverse nowrap;
}

.conversation-message-user-icon {
  background-color: #39ecbc;
  border-radius: 20px;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.conversation-message-body {
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #123;
  font-size: 1em;
  font-weight: normal;
  max-width: 66%;
  min-height: 40px;
  overflow: hidden;
  padding: 10px 20px;
  word-break: break-word;
}

.conversation-message-body.right {
  background-color: #04a;
  color: #fff;
}

.conversation-composer {
  margin-left: 50px;
  margin-top: 5px;
}

@media screen and (max-width: 720px){

.conversation {
  align-items: stretch;
  flex-direction: column;
}

.conversation-infos {
  flex: 1;
  margin-bottom: 10px;
}

.conversation-open {
  margin-left: 60px;
  flex: 1;
}

.conversation-messages {
  max-height: 230px;
}

.conversation-composer {
  /*margin-left: -50px;*/
  margin-left: 0;
  margin-top: 5px;
}

}
